.wrapper-inventory {

    & .wrapper-inventory-content-hint {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 400;
    }

    & .wrapper-inventory-content {
        margin-top: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 3px 10px #0000000D;
    }
}

.wrapper-products-icon-table {
    cursor: pointer;
    font-size: 35px;
    border-radius: 50%;
    padding: 10px;
    background-color: #F7F9FB;
    color: #7F8A98;
}