.monopoly-product-home {
    background-color: var(--black-color);
    padding: 100px var(--default-padding-size);

    & .monopoly-product-home-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .monopoly-product-home-head_title {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & h3 {
                color: var(--prim-color);
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
            }

            & p {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 36px;
                color: var(--white-color);
                font-family: var(--anton-font);
            }
        }

        & .monopoly-product-home-head_btn {
            padding: 18px 36px;
            display: flex;
            align-items: center;
            gap: 20px;
            background-color: transparent;
            color: var(--white-color);
            border: 1px solid var(--prim-color);
            border-radius: 100px;
            font-weight: 600;
            transition: 0.4s;

            & .monopoly-product-home-head_btn-icon {
                font-size: 25px;
            }

            &:hover {
                background-color: var(--prim-color);
                color: var(--white-color);
            }

        }
    }

    & .monopoly-product-home-content {
    }
}