.wrapper-login {
    background-image: url('../../../public/img/loginBg.svg');
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
}